
.about-container {
  text-align: center;
  max-width: auto;
  /* margin: 10px; */
  margin-left: 10px;
  margin-right: 10px;
}

.who-we-section,
.mission-section,
.vision-section {
  margin-bottom: 50px;
}

.who-we-section{
  margin-left: 10vw;
}

.content-container {
  display: flex;
}

.image-container {
  flex: 1;
}

.image-container img {
  width: 100%;
  max-width: 100%; 
  height: 100%;
}

.description-container {
  flex: 1;
  padding-left: 0px;
}

.member-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.noofm {
  text-align: center;
}


.orange-text {
  color: #E03703; 
  font-size: larger;
}

.white-text {
  color: #ffffff; 
}
@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
  }

  .who-we-section{
    margin-left: auto;
  }

  .description-container {
    padding-left: 0;
    margin-top: 20px;
  }

  .image-container img {
    max-width: 100%;
  }
}